<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_prueba.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Cambiar contraseña</h1>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <form method="post" action="{{ url_for('cambiar_contrasena') }}" class="form">
            <label for="nueva_contrasena">Nueva contraseña:</label>
            <input type="password" id="nueva_contrasena" name="nueva_contrasena" required>
            <br>
            <label for="confirmar_contrasena">Confirma la contraseña:</label>
            <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required>
            <br>
            <button type="submit" class="button">Cambiar contraseña</button>
        </form>
    </div>
</body>
</html>
